*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

body{
    background:#7AE8AB;
}

/*Styles Login*/

.header .logo-adopt{
    width: 40%;
}

.user {
    width: 80px;
    height: 60px;
    margin-left:60%;
 
}
.password{
    width: 80px;
    height: 60px;
    margin-left:60%;
}
 
 .user-placeholder{
    position: absolute;
    border: none;
    outline:none;
     background-color:#7AE8AB;
}
.password-placeholder{
 position: absolute;
    border: none;
    outline:none;
    background-color:#7AE8AB;
  
} 

.linea{
    position: absolute;
    border-top: 1px solid white;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
   margin-top:100px ;
}
#verClave{
    position: absolute;
    margin-top: 80px;

}

.user-placeholder::placeholder{
    color: white; 
    font-size: 18px;
}

.password-placeholder::placeholder { 
    color: white; 
    font-size: 18px;
}

#buttonLogin{
    position:absolute;
    color:white;
    border: none;
    font-size: 20px;
    height: 40%;
    margin-left:45%;
    margin-top: 130px;
    cursor: pointer;
    color: #4285F4;
    background: white;
    border-radius: 15px;
    right:85px;
    width: 150px;
    height: 28px;
}

#Gmail{
    position: absolute;
    margin-top: 250px;
    right:85px;
     color: white;
    border: none;
    cursor:pointer;
    background:#4285F4;
    border-radius: 15px;
    width:150px;
    height: 28px;
   

}
.register{ 
    text-decoration: none;
    color: white;
}  


/* RESPONSIVE VISTA LOGIN */

@media screen and (max-width: 320px){
body{
    background: #00FFB1;
}
.items-login{
    margin-right: 100%;
} 

.logo-adopt{
margin-right: 50px;
}
.user-placeholder{
    position: absolute;
    margin-top: 30px;
    border: none;
    outline:none;
     background-color:#00FFB1;
     margin-left: 35%;
    height: 20px;
}
.password-placeholder{
    position: absolute;
    margin-top: 90px;
       border: none;
       outline:none;
       background-color: #00FFB1;
       margin-left: 35%;
       height: 20px;
}
#verClave{  

    margin-left: 75%;
} 
.register{ 
    text-decoration: none;
    position: absolute;
    margin-top: 180px;
    margin-left: 45px;
    color: white;
}  

#Gmail{
    right: 10px;
    margin-top: 175px;
    margin-right: 15px;
}
.dogs-home img{
    margin-top: 20%;
    margin-left: 35%;
    width: 250px;
    height: 250px;
}

}



 @media screen and (min-width:480px) and (max-width: 480px) {
    body{
        background: #00FFB1;
    }
     .items-login{
        margin-right: 75%;
    } 
    .user-placeholder{
        position: absolute;
        margin-top: 30px;
        border: none;
        outline:none;
         background-color:#00FFB1;
         margin-left: 35%;
        height: 20px;
    }
    .password-placeholder{
        position: absolute;
        margin-top: 90px;
           border: none;
           outline:none;
           background-color: #00FFB1;
           margin-left: 35%;
           height: 20px;
    }
    .register{ 
        text-decoration: none;
        position: absolute;
        margin-top: 55%;
        margin-left: 100px;
    }
    #verClave{  

        margin-left: 75%;
    } 
.dogs-home img{
    margin-top: 50%;
    margin-left: 63px;
    width: 400px;
    height: 400px;
}
#buttonLogin{
    margin-top: 33%;
    margin-right: 85px;
}

} 

@media screen and (max-width:768px){
    .header .logo-adopt {
        width: 30%;
    }
    .items-login{
        margin-right: 75%;
    } 
    .user-placeholder{
        position: absolute;
        margin-top: 30px;
        border: none;
        outline:none;
         background-color:#7AE8AB;;
         margin-left: 35%;
        height: 20px;
    }
    .password-placeholder{
        position: absolute;
        margin-top: 90px;
           border: none;
           outline:none;
           background-color: #7AE8AB;;
           margin-left: 35%;
           height: 20px;
    }
    .register{ 
        text-decoration: none;
        position: absolute;
        margin-top: 55%;
        margin-left: 100px;
    }
    #verClave{  

        margin-left: 75%;
    } 

}


@media screen and (max-width:1024px){
}